//Font Settings
$font-family: sans-serif;
$font-size: 16px;
$font-rem: 1.6rem;
$code-family:"Courier 10 Pitch", Courier, monospace;
$code-size: 15px;
$code-rem: 15px;
$button-size: 12px;

//Margin, Padding and other Layout Properties
$margin-bottom: 1.5em;
$border:1px solid #ccc;
$padding: 3px;
$border-radius: 3px;

//Color
$font-color: #404040;
$title-color: $font-color;
$background-color: #FFF;
$link-color: blue;
$link-visited-color: purple;
$link-hover-color: midnightblue;
$button-color:#e6e6e6;
