//Font Settings
$font-family: sans-serif;
//font size is controlled in the mixins section

$code-family:"Courier 10 Pitch", Courier, monospace;
$code-size: 15;
$button-size: 12;

//Margin, Padding and other Layout Properties
$margin-bottom: 1.5em;
$border: 1px solid #ccc;
$border-radius: 3px;

//Color
$font-color: #404040;
$code-color: #eee;
$title-color: $font-color;
$background-color: #FFF;
$link-color: blue;
$link-visited-color: purple;
$link-hover-color: midnightblue;
$button-color:#e6e6e6;
