/* =Content
----------------------------------------------- */
#primary {
	@extend %span_7;
	@extend %col;
	@extend %row;
	@media screen and (max-width: 800px) {
		width: 100%;
	}
}
.sticky {
background: $background-color;
}
.hentry {
	margin: 0 0 $margin-bottom;
}
.byline,
.updated {
	display: none;
}
.single .byline,
.group-blog .byline {
	display: inline;
}
.page-content,
.entry-content,
.entry-summary {
	margin: $margin-bottom 0 0;
}
.page-links {
	clear: both;
	margin: 0 0 $margin-bottom;
}


