/* =Navigation
----------------------------------------------- */

.site-main [class*="navigation"] {
	margin: 0 0 $margin_bottom;
	overflow: hidden;
}
[class*="navigation"] .nav-previous {
	@extend %span_6;
}
[class*="navigation"] .nav-next {
	@extend %span_6;
	float: right;
	text-align: right;
}
