/* =Widgets
----------------------------------------------- */
#secondary {
	@extend %col;
	@extend %span_4;
	@media screen and (max-width: 800px) {
		width: 100%;
		margin-left: 0; 
	}
}
.widget {
	margin: 0 0 $margin-bottom;
}

/* Make sure select elements fit in widgets */
.widget select {
	max-width: 100%;
}

/* Search widget */
.widget_search .search-submit {
	display: none;
}
